@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

html body {
  font-size: 1.8rem;
  color: orangered;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-template: "header" "main" "footer" / auto;
}

header {
  grid-area: header;
  font-family: "Barlow", sans-serif;
  display: -ms-grid;
  display: grid;
  grid-template: "g-header" "g-hero" 80rem / auto;
  background: url("../images/desktop/image-header.jpg") no-repeat top;
  background-size: cover;
}

@media screen and (max-width: 550px) {
  header {
    background: url("../images/mobile/image-header.jpg") no-repeat top;
    background-size: cover;
  }
}

header .header {
  grid-area: "g-header";
  padding: 2rem;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .toggler,
header .header .hamburger {
  display: none;
}

header .header .logo {
  margin-right: auto;
}

header .header .logo:hover {
  cursor: pointer;
}

header .header nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 200;
  padding: 1.3rem 2.5rem;
  font-size: 1.8rem;
  margin: 0 0.5rem;
}

header .header nav a:not(:last-of-type):hover {
  color: orangered;
}

header .header nav a.checked {
  text-align: center;
  color: black;
  font-family: "Fraunces", serif;
  font-weight: 700;
  background: #fad400;
  border-radius: 2.5rem;
}

header .header nav a.checked:hover {
  background-color: cadetblue;
}

@media screen and (max-width: 550px) {
  header .header nav {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 5%;
    padding: 1rem 0;
    background-color: white;
    -webkit-clip-path: polygon(0% 10%, 90% 10%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 10%, 90% 10%, 100% 0%, 100% 100%, 0% 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header nav a {
    color: #5a636c;
    text-align: center;
    font-size: 1.8rem;
  }
  header .header nav a.checked {
    margin-top: 1rem;
  }
  header .header .toggler,
  header .header .hamburger {
    display: block;
    cursor: pointer;
  }
  header .header .logo {
    padding-top: 0.8rem;
  }
  header .header .toggler {
    position: absolute;
    height: 3rem;
    width: 3rem;
    right: 2rem;
    opacity: 0;
    z-index: 2;
  }
  header .header .toggler:checked ~ .hamburger {
    background: transparent;
  }
  header .header .toggler:checked ~ .hamburger:before {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  header .header .toggler:checked ~ .hamburger:after {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  header .header .toggler:checked + nav {
    visibility: visible;
    height: 30rem;
    width: 90%;
    opacity: 1;
  }
  header .header .hamburger {
    position: relative;
    width: 3rem;
    height: 0.3rem;
    background-color: white;
  }
  header .header .hamburger::after, header .header .hamburger::before {
    content: "";
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: white;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  header .header .hamburger::before {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  header .header .hamburger::after {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

header .hero {
  grid-area: g-hero;
  background-image: url("../images/desktop/image-header.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header .hero .hero-title {
  padding: 5rem 1rem 0;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .hero h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: white;
  text-align: center;
  letter-spacing: 0.5rem;
}

@media screen and (max-width: 550px) {
  header .hero h1 {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
}

header .hero img {
  position: absolute;
  left: 50%;
  top: 30%;
}

@media screen and (max-width: 550px) {
  header .hero .hero-title {
    margin-top: 8rem;
  }
  header .hero img {
    left: 45%;
    top: 42%;
  }
}

main {
  grid-area: main;
  display: -ms-grid;
  display: grid;
  grid-template: "about" "services" "projects" / auto;
}

main #about {
  grid-area: about;
  display: -ms-grid;
  display: grid;
  grid-template: "content-1 card-1" "card-2 content-2" "content-3 content-4" / auto auto;
  color: black;
}

@media screen and (max-width: 550px) {
  main #about {
    grid-template: "card-1" 40rem "content-1" "card-2" 40rem "content-2" "content-3" "content-4" / auto;
  }
}

main #about .learn {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #about .learn:hover::after {
  background: #fad400;
}

main #about .learn::after {
  height: 0.8rem;
  width: 12ch;
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
  background: #ffef94;
}

main #about a {
  display: inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
}

main #about div[class*="card-content-"] {
  background-color: white;
  padding: 15rem 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #about div[class*="card-content-"] h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 3rem;
}

main #about div[class*="card-content-"] p {
  padding: 5rem 0;
  font-family: "Barlow", sans-serif;
  color: #818498;
  font-weight: 600;
}

main #about .card-content-1 {
  grid-area: content-1;
}

@media screen and (max-width: 550px) {
  main #about .card-content-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

main #about .card-img-1 {
  grid-area: card-1;
  background: url("../images/desktop/image-transform.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 550px) {
  main #about .card-img-1 {
    background: url("../images/mobile/image-transform.jpg") no-repeat center;
    background-size: cover;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

main #about .card-img-2 {
  grid-area: card-2;
  background-size: cover;
  background: url("../images/desktop/image-stand-out.jpg") no-repeat center;
  width: 100%;
}

@media screen and (max-width: 550px) {
  main #about .card-img-2 {
    background-size: cover;
    background: url("../images/mobile/image-stand-out.jpg") no-repeat center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

main #about .card-content-2 {
  grid-area: content-2;
}

@media screen and (max-width: 550px) {
  main #about .card-content-2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

main #about .service-content-3 {
  grid-area: content-3;
  background: url("../images/desktop/image-graphic-design.jpg");
}

@media screen and (max-width: 550px) {
  main #about .service-content-3 {
    background-image: url("../images/mobile/image-graphic-design.jpg");
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

main #about div[class*="service-content-"] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main #about div[class*="service-content-"] div[class*="content-text"] {
  margin: 50rem 2rem 0rem;
  position: relative;
  bottom: 8rem;
}

main #about div[class*="service-content-"] div[class*="content-text"] h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #25564b;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 3.5rem;
}

main #about div[class*="service-content-"] div[class*="content-text"] p {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  text-align: center;
}

main #about .service-content-4 {
  grid-area: content-4;
  background: url("../images/desktop/image-photography.jpg");
}

@media screen and (max-width: 550px) {
  main #about .service-content-4 {
    background-image: url("../images/mobile/image-photography.jpg");
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

main .services {
  grid-area: services;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .services h2 {
  padding: 5rem 0;
  text-align: center;
  color: #a7abae;
  font-family: "Fraunces", serif;
  letter-spacing: 0.5rem;
}

@media screen and (max-width: 550px) {
  main .services h2 {
    font-size: 2.5rem;
  }
}

main .services .testimonials {
  display: -ms-grid;
  display: grid;
  grid-template: "test-1 test-2 test-3" / auto auto auto;
}

@media screen and (max-width: 550px) {
  main .services .testimonials {
    grid-template: "test-1" "test-2" "test-3" / auto;
  }
}

main .services .testimonials div[class*="testimonial-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

main .services .testimonials div[class*="testimonial-"] div[class*="testimonial-img"] img {
  border-radius: 50%;
  max-width: 9rem;
}

main .services .testimonials div[class*="testimonial-"] div[class*="testimonial-content"] {
  padding: 0 2rem;
}

main .services .testimonials div[class*="testimonial-"] div[class*="testimonial-content"] p {
  color: #5a636c;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 2rem;
}

main .services .testimonials div[class*="testimonial-"] div[class*="testimonial-content"] h3 {
  color: black;
  font-family: "Fraunces", serif;
  margin: 1.5rem 0 1rem;
  font-size: 2rem;
}

main .services .testimonials div[class*="testimonial-"] div[class*="testimonial-content"] h4 {
  color: #818498;
}

main .services .testimonials .testimonial-1 {
  grid-area: test-1;
}

main .services .testimonials .testimonial-2 {
  grid-area: test-2;
}

main .services .testimonials .testimonial-3 {
  grid-area: test-3;
}

main #projects {
  grid-area: projects;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 550px) {
  main #projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

main #projects div[class*="img-"] img {
  width: 100%;
  height: 100%;
}

#footer {
  grid-area: footer;
  background: #7abdb0;
  width: 100%;
}

#footer .container {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 550px) {
  #footer .container {
    width: 100%;
  }
}

#footer .container .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-align: center;
  margin: 5rem 0 3rem;
}

#footer .container .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  margin-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .container .menu a {
  padding: 1rem;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  color: #458c7e;
}

#footer .container .menu a:hover {
  color: white;
}

#footer .container .links {
  text-align: center;
}

#footer .container .links img {
  margin: 0 2rem 5rem;
}
/*# sourceMappingURL=style.css.map */